.App {
    height          : 100vh;
    background-color: white;
    display         : flex;
    flex-direction  : column;
}


.modal {
    position        : fixed;
    justify-content : flex-end;
    top             : 0;
    height          : 100%;
    width           : 100%;
    background-color: #afb8c133;
    z-index         : 20;
    display         : flex;
    right           : -100%;
    transition      : right 0.3s ease-in-out;
}

.modal.open {
    right: 0;
}

.modal-content {
    background-color   : white;
    width              : 65%;
    display            : flex;
    flex-direction     : column;
    border-radius      : 12px 0px 0px 12px;
    overflow           : hidden;
    box-shadow         : rgba(140, 149, 159, 0.2) 0px 8px 24px;
    opacity            : 1;
    transition-duration: 200ms;
    transform          : translateX(0%);
    transition         : transform 0.9s ease-in-out, opacity 0.9s ease-in-out;
    transition-property: opacity, transform;
}

.close-button {
    align-self: flex-end;
    margin    : 8px;
    cursor    : pointer;
}

.modal-body {
    /* flex: 1; */
    /* padding    : 20px; */
    /* overflow: auto; */
}